[mysqld]
bind-address=127.0.0.1
port=3306
datadir=/data/mysql
tmpdir=/data/mysql-tmp
socket=/run/mysqld/mysqld.sock
pid-file=/run/mysqld/mysqld.pid
mysqlx=0
skip-name-resolve
local-infile=0
secure-file-priv=NULL
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
default-time-zone=+00:00
max-connections=100
innodb-buffer-pool-size=1G
innodb-redo-log-capacity=512M
innodb-flush-log-at-trx-commit=1
sync-binlog=1
log-error=/data/mysql/error.log

[client]
socket=/run/mysqld/mysqld.sock
default-character-set=utf8mb4
